<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">About</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Sign-up for citation notifications</h3>
        </div>
 
        <div class="jumbotron">
            <h1>#noticite</h1>
            <p class="lead"></p>
            <p>For your paper {{paper}} you have {{num}} citations:</p>
              <p>{% for row in citations and for entry in text %}
                   <p>{{ row }}</p>
                   <p>{{ entry }}</p>
                  {% endfor %}</p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up</a>
            </p>
        </div>

 
        <footer class="footer">
            <p>&copy; Becky Smethurst #dotastro</p>
        </footer>
 
    </div>
</body>
 
</html>